@charset "UTF-8";

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

	共通css

■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* ================================================================================

	サイトスタイル

================================================================================ */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	 -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #E7F1ED;
	color: #222;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
	word-wrap: break-word;
	font-family: FOT-筑紫A丸ゴシック Std R, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#wrapper {
	position: relative;
	max-width: none;
	/* max-width: 1920px; 固定幅レイアウト時 */
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
	display: block;
	overflow: hidden;
}

h1{
	margin: 0;
	font-weight: 300;
}
h2, h3, h4 {
	margin: 0;
	font-weight: 700;
}

img {
	vertical-align: bottom;
}

li,dt,dd {
	vertical-align: top;
}

iframe {
	vertical-align: bottom;
}


/* リンク：透過アクション付 */
a {
	color: #ff0000;
	opacity: 1;
	transition-property: opacity,color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
a:hover {
	color: #ff6666;
	opacity: 0.6;
}





/* ================================================================================

	404.php

================================================================================ */

/* PC設定
----------------------------------------------- */
@media (min-width: 768px) {
	.not-found {
		position: relative;
		width: 1000px;
		margin: 0 auto;
	}
}





/* ================================================================================

	display:none

================================================================================ */

/* PC設定
----------------------------------------------- */
@media (min-width: 768px) {

	/* SP改行消し */
	.br-pc {
		display: none;
	}
	/* SPコンテンツ消し */
	.pc_none {
		display: none;
	}

}



/* SP設定
----------------------------------------------- */
@media (max-width: 767px) {

	/* PC改行消し */
	.br-sp {
		display: none;
	}
	/* PCコンテンツ消し */
	.sp_none {
		display: none;
	}

}





/* ================================================================================

	pointer-events: none;

================================================================================ */

/* PC設定
----------------------------------------------- */
@media (min-width: 768px) {

	.pointer-events {
		pointer-events: none;
	}

}





/* ================================================================================

	フロート回り込み解除 clearfix

================================================================================ */

.clearfix:after {
	display: block;
	clear: both;
	height: 0px;
	line-height: 0px;
	visibility: hidden;
	content: "";
	overflow: hidden;
	float: none;
}
.clearfix {
	display: block; /* for IE8 */
}





/* ================================================================================

	エディター共通設定

================================================================================ */

p + * {
	margin-top: 1em;
}

strong,b {
	font-weight: 700;
}
big {
	font-size: larger;
}
small {
	font-size: smaller;
}
em {
	font-style: italic;
}

.orange {
	font-weight: 700;
	font-weight: bold;
}
.weak {
	color: #aaaaaa;
}


/* PC設定
----------------------------------------------- */
@media (min-width: 768px) {

}



/* SP設定
----------------------------------------------- */
@media (max-width: 767px) {
	body {
		font-size: 3.5vw;
	}

	/* youtube siteorigin */
	.youtube-player {
		width: 100%;
		height: 36.5vw;
		margin-top: 4vw;
	}

	/* エディターで画像の下に隙間ができるの解除 */
	img + br {
		display: none;
	}
}





/* ================================================================================

	PCヘッダー

================================================================================ */
@media (min-width: 768px) {

	header {
		position: relative;
		max-width: none;
		/* max-width: 1920px; 固定幅レイアウト時 */
		width: 100%;
	}


	/* H1ロゴ
	----------------------------------------------- */
	.h_logo {
		position: absolute;
		top: 91px;
		left: 30px;
		z-index: 1;
	}
	.h_logo h1 {
	}
	.h_logo h1 a img {
		width: 301px;
		height: auto;
	}

}





/* ================================================================================

	SPヘッダー

================================================================================ */
@media (max-width: 767px) {

	header {
		position: relative;
	}


	/* H1ロゴ
	----------------------------------------------- */
	.h_logo {
		position: absolute;
		top: 12vw;
		left: 4vw;
		z-index: 1;
	}
	.h_logo h1 {
	}
	.h_logo h1 a img {
		width: 40vw;
		height: auto;
	}


}





/* ================================================================================

	フッター

================================================================================ */

/* PC設定
------------------------------------------- */
@media (min-width: 768px) {
	footer {
		position: relative;
		background-color: #d8d8d8;
		color: #ffffff;
		text-align: center;
		padding: 80px 0 80px;
	}


	/* フッターリンク */
	.f_navi {
	}
	.f_navi ul {
	}
	.f_navi div {
		display: block;
		line-height: 1;
		font-size: 16px;
		color: black;
		letter-spacing: 0.05em;
	}
	.f_navi ul li {
		position: relative;
		display: inline-block;
		padding: 0 16px;
	}
	.f_navi ul li::before {
		position: absolute;
		content: "";
		display: block;
		background: black;
		width: 1px;
		height: 16px;
		top: 50%;
		left: 0px;
		margin-top: -11px;
	}
	.f_navi ul li:first-of-type::before {
		display: none;
	}
	.f_navi ul li a {
		display: block;
		line-height: 1;
		font-size: 16px;
		color: black;
		letter-spacing: 0.05em;
	}


	/* コピーライト */
	.f_copy {
		margin-top: 40px;
	}
	.f_copy p {
		font-size: 12px;
		text-align: center;
		color: black;
	}

}



/* SP設定
------------------------------------------- */
@media (max-width: 767px) {
	footer {
		position: relative;
		background-color: #d8d8d8;
		color: #ffffff;
		padding: 12vw 6vw 12vw;
		text-align: center;
	}


	/* SP用フッターリンク type01 ※ボーダー下線のタイプ
	------------------------------------------- */
	.f_navi ul {
		margin: 0 auto;
		overflow: auto;
		padding: 2vw 3% 3.5vw;
	}
	.f_navi div {
		display: block;
		font-size: 3.5vw;
		text-decoration: none;
		color: black;
	}
	.f_navi ul li {
		float: left;
		width: 100%;
		padding: 4vw 2vw;
		border-bottom: 1px solid;
	}
	.f_navi ul li:first-of-type {
		border-top: 1px solid;
	}
	.f_navi ul li a {
		display: block;
		font-size: 3.5vw;
		text-decoration: none;
		color: black;
	}

	/* コピーライト */
	.f_copy {
		margin-top: 6vw;
	}
	.f_copy p {
		font-size: 3.2vw;
		text-align: center;
		color: black;
	}
}




/* ================================================================================

	ついてくるお問い合わせ

================================================================================ */

/* PC設定
------------------------------------------- */
@media (min-width: 768px) {
	.contact_fix {
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		border-top: 1px solid #271d1b;
		z-index: 100;
	}

	.contact_fix a {
		display: block;
		padding: 5px 0 15px 0;
		pointer-events: none;
	}

	.contact_fix_in {
		text-align: center;
	}
	.contact_fix_in .text1 {
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
		line-height: 1;
		color: #271d1b;
		padding: 11px 20px 0 0;
	}
	.contact_fix_in .text2 {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		font-size: 40px;
		color: #fd470f;
		pointer-events: none;
	}
	.contact_fix_in .tel01 {
		display: inline-block;
		vertical-align: middle;
		font-size: 0.5em;
		letter-spacing: 0.05em;
		padding: 0.2em 0.3em 0 0
	}
	.contact_fix_in .tel02  {
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 0.05em;
	}
}

/* SP設定
------------------------------------------- */
@media (max-width: 767px) {
	.contact_fix {
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		border-top: 1px solid #271d1b;
		z-index: 100;
	}

	.contact_fix a {
		display: block;
		padding: 3vw 4vw 4vw;
	}

	.contact_fix_in {
		text-align: center;
	}
	.contact_fix_in .text1 {
		display: inline-block;
		vertical-align: middle;
		font-size: 3.5vw;
		line-height: 1;
		color: #271d1b;
		padding: 1.4vw 3vw 0 0;
	}
	.contact_fix_in .text2 {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		font-size: 6vw;
		color: #fd470f;
		pointer-events: none;
	}
	.contact_fix_in .tel01 {
		display: inline-block;
		vertical-align: middle;
		font-size: 0.5em;
		letter-spacing: 0.05em;
		padding: 0.15em 0.3em 0 0
	}
	.contact_fix_in .tel02  {
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 0.05em;
	}

}



/* ================================================================================

	ページトップボタン

================================================================================ */

/* PC設定
------------------------------------------- */
@media (min-width: 768px) {
	.page-top {
		position: relative;
		background-color: #fd470f;
		width: 100%;
		text-align: center;
	}
	.page-top a {
		display: block;
		font-size: 18px;
		color: #ffffff;
		padding: 0.5em 0;
	}
	.page-top a i {
		margin-left: 0.5em;
	}
}

/* SP設定
------------------------------------------- */
@media (max-width: 767px) {
	.page-top {
		position: relative;
		background-color: #fd470f;
		width: 100%;
		text-align: center;
	}
	.page-top a {
		display: block;
		font-size: 4vw;
		color: #ffffff;
		padding: 0.5em 0;
	}
	.page-top a i {
		margin-left: 0.5em;
	}
}





/* ================================================================================

	パンくずリスト

================================================================================ */

/* 背景色 */
#breadcrumb {
	background-color: transparent;
}


/* PC設定
----------------------------------------------- */
@media (min-width: 768px) {
	#breadcrumb {
		position: relative;
		max-width: none;
		width: 100%;
		padding: 16px 0;
		z-index: 1;
	}

	#breadcrumb > ul {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		font-size: 0;
	}
	#breadcrumb > ul > li {
		display: inline-block;
		font-size: 14px;
	}
	#breadcrumb > ul > li + li:before {
		padding: 0 0.6em 0 0.7em;
		content: '>';
	}
}


/* SP設定
----------------------------------------------- */
@media (max-width: 767px) {
	#breadcrumb {
		position: relative;
		width: 100%;
		padding: 4vw 0;
		z-index: 1;
	}

	#breadcrumb > ul {
		position: relative;
		width: 100%;
		padding: 0 4vw;
		font-size: 0;
	}
	#breadcrumb > ul > li {
		display: inline-block;
		font-size: 3.5vw;
	}
	#breadcrumb > ul > li + li:before {
		padding: 0 0.6em 0 0.7em;
		content: '>';
	}
}





/* ================================================================================

	Wp Lightbox Bank プラグイン

================================================================================ */
#lightGallery-outer {
	background-color: rgba(0,0,0,0.8) !important;
}

/* ================================================================================

	Addtoanyボタン

================================================================================ */

/* PC設定
----------------------------------------------- */
@media (min-width: 768px) {
	.addtoany_shortcode {
		padding-top: 8px;
		margin: 0 -4px;
	}
}


/* SP設定
----------------------------------------------- */
@media (max-width: 767px) {
	.addtoany_shortcode {
		padding-top: 2vw;
		margin: 0 -4px;
	}
}


/* 翻訳プラグインバグ対策 */
.addtoany_shortcode font {
	display: none;
}





/* ================================================================================

	IEハック

================================================================================ */

/* IE10以上 */
@media all and (min-width: 768px) and (-ms-high-contrast: none) {
	.elementor-image a {
		display: inline !important;
	}
}